<div id="privacy">
  <div class="container pt-5 pb-5">
    <h1 class="privaHead">Lanka Smart Switch Privacy Policy</h1>
    <hr/>

      <h3 class="privaHead">Get Peace of mind with Lanka Smart switch</h3>
      <p class="privapad">Our company knows that when it comes to security, your home isn&#39;t the only thing you
are looking to protect. In today&#39;s digital world, our personal information is constantly at
risk. At our company, keeping your information safe is one of the pillars of our
business.</p>
        <br>
      <h3 class="privaHead">What does this Privacy policy?</h3>
      <p class="privapad">This Privacy Policy, which forms part of our Terms of Use, describes the information
that we gather from you, our use and disclose your information, and the steps we take
to protect your information. By using our Services, you consent to the privacy practices
described in this policy.
<br>
<br>
In order to provide you with information, tools and other services we may collect and
retain “Personal Information” that may identify you or contribute to identifying you.
“Personal Information” can include information such as your name, email address, your
photo, contact details and, in some cases, general financial information. We will not
collect your personal information unless it’s necessary to provide the information, advice
or service you’ve requested and, where possible, you’ll be able to use our services
anonymously.</p>
<br>
    <h3 class="privaHead">Which individuals does this Privacy Policy apply to?</h3>
    <p class="privapad">All customers of The Source and authorized users of The Source’s products and
services, and The Source’s associates.</p>
<br>
    <h3 class="privaHead">What information does this Privacy Policy apply to?</h3>
    <p class="privapad">All Personal Information that we collect, use or disclose about our individual customers,
authorized users and employees is covered by this Privacy Policy. This may include
information such as your name, mailing address, email address, phone number, credit
information, and billing or service records. There are some exceptions created by
applicable law to what might ordinarily be considered Personal Information.</p>
<br>
    <h3 class="privaHead">Our promises</h3>
    <p class="privapad">We&#39;re 100% committed to keeping your data safe and secure. Our Lanka smart switch
team are avid online shoppers, so we totally appreciate and respect how important
privacy is. If you have any worries about your personal information feel free to reach out
our email/contact number , we&#39;d be happy to answer any questions you have!</p>
<br>
    <h3 class="privaHead">Why we need your information</h3>
    <p class="privapad">There may be times when you give us &#39;sensitive&#39; information and we protect this data
like it&#39;s our own. We only ask for the essentials and we use your data to provide you the
best service possible. The table below shows why we need this information.</p>
<br>
<br>

<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th scope="col">Your Details</th>
      <th scope="col">Why?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name, Address &amp; Phone Number</th>
      <td>Order Updates <br>
Delivery <br>
Fraud Prevention <br>
After Sales Support</td>
    </tr>
    <tr>
      <th scope="row">Date of Birth &amp; Gender</th>
      <td>Fraud Prevention</td>
    </tr>
    <tr>
      <th scope="row">Payment Information</th>
      <td>Payment <br>
Refunds <br>
Fraud Prevention</td>
    </tr>
    <tr>
      <th scope="row">Purchase History &amp; Saved Items</th>
      <td>Refunds <br>
After Sales Support <br>
Personalise your shopping experience <br>
Recommend products we think you&#39;d like</td>
    </tr>
    <tr>
      <th scope="row">IP Address &amp; Device Type</th>
      <td>Fraud Prevention <br>
Website and service improvments <br>
Personalise your shopping experience</td>
    </tr>
  </tbody>
</table>
<br>

    <h3 class="privaHead">How long we hold onto your data for</h3>
    <p class="privapad">We&#39;ll only keep your information on file for as long as you are a customer. If you haven&#39;t
logged onto our website for three years we will delete your information from our
systems. If you no longer wish to be a customer, you can also contact our support team
and request to delete all the information we have on you.
<br>
<br>
In some circumstances, like cases of anti-money laundering or fraud, we may keep data
longer if we need to or the law says we have to.</p>
<br>
    <h3 class="privaHead">How we maintain accurate information</h3>
    <p class="privapad">Although we will take reasonable steps to make sure that the personal information we
collect, use or disclose is accurate, complete and up-to-date, it is your responsibility to
ensure that the information you provide to us is accurate, complete and current. You
control the information you provide to us and you can correct or update any information
you choose to provide to us. If you want us to correct our records simply tell us what
needs to be changed and why.</p>
<br>
    <h3 class="privaHead">Your rights</h3>
    <p class="privapad">You have a right to:</p>
    <ul>
  <li>Access the personal data we hold about you</li>
  <li>Be informed about how your personal data is being used</li>
  <li>Update incorrect data we have on file</li>
  <li>Request to delete your information on file</li>
  <li>Stop all direct marketing communication</li>
  <li>Complain to your data protection regulator (ICO)</li>
</ul>
<br>
    <h3 class="privaHead">What happens if your business changes hands?</h3>
    <p class="privapad">We may, from time to time, expand or reduce Our business and this may involve the
sale and/or the transfer of control. Any personal data that you have provided will, where
it is relevant to any part of Our business that is being transferred, be transferred along
with that part and the new owner or newly controlling party will, under the terms of this
Privacy Policy, be permitted to use that data only for the same purposes for which it was
originally collected by Us.
<br>
<br>
In the event that any of your data is to be transferred in such a manner, you may be contacted
in advance and informed of the changes. If contacted you will be given the choice to have your
data deleted or withheld from the new owner or controller</p>
<br>
    <h3 class="privaHead">Feedback - good or bad! ✔✖</h3>
    <p class="privapad">If you simply need us to explain anything mentioned above or you&#39;re concerned about
your personal data please reach out to us by email <a href="mailto:lankasmartswitch@gmail.com">lankasmartswitch@gmail.com</a> or call
us.</p>
<br>
<h3 class="privaHead">Changes to this policy</h3>
<p class="privapad">We&#39;ll post any changes we make to our privacy notice on this page and if they&#39;re
significant changes we&#39;ll post it on the our website and let you know by email.</p>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
