<div id="terms">
  <div class="container pt-5 pb-5">
    <h1 class="text-center">Terms of service</h1>
    <hr/>

    <h3 class="termHead">Modifications to the Service and prices</h3>
    <p class="termPad">Prices for our products are subject to change without notice.
We reserve the right at any time to modify or discontinue the Service (or any part or
content thereof) without notice at any time.
We shall not be liable to you or to any third-party for any modification, price
change, suspension or discontinuance of the Service.
<br>
<br>
You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the
Service, use of the Service, or access to the Service or any contact on the website
through which the service is provided, without express written permission by us.</p>
<br>
    <h3 class="termHead">Products or Services</h3>
    <p class="termPad">Certain products or services may be available exclusively online through the
website. These products or services may have limited quantities and are
subject to return or exchange only according to our Return Policy.
We have made every effort to display as accurately as possible the colors
and images of our products that appear at the store. We cannot guarantee
that your computer monitor&#39;s display of any color will be accurate.
We do not warrant that the quality of any products, services, information, or
other material purchased or obtained by you will meet your expectations, or
that any errors in the Service will be corrected.</p>
<br>

<h1 class="text-center">Refund Policy</h1>
<br>
<br>

    <p class="termPad">Includes full 1-year warranty and 30-day refund guarantee for all Lanka
Smart switch products.
<br>
<br>
We only replace items if they are defective or damaged.</p>
<br>

    <h3 class="termHead">Returns</h3>
    <p class="termPad">Our policy lasts 30 days. If 30 days have gone by since your receipt,
unfortunately we can’t offer you a refund or exchange.
<br>
<br>
To be eligible for a return, your item must be unused and in the same
condition that you received it. It must also be in the original packaging.
There are certain situations where only partial refunds are granted (if
applicable)  
<br>
<br>
- Any item not in its original condition, is damaged or missing parts for
reasons not due to our error.
<br>
- Any item that is returned more than 30 days after delivery.</p>
<br>

    <h3 class="termHead">Refunds (if applicable)</h3>
    <p class="termPad">Once your return is received and inspected, we will send you an email to
notify you that we have received your returned item. We will also notify you
of the approval or rejection of your refund.
If you are approved, then your refund will be processed, and a credit will
automatically be applied to your credit card or original method of
payment, within a certain amount of days,usually within 48 hours.</p>
<br>

    <h3 class="termHead">Late or missing refunds (if applicable)</h3>
    <p class="termPad">If you haven’t received a refund yet, first check your bank account again.
Then contact your bank , it may take some time before your refund is
officially posted.There is often some processing time before a refund is
posted.
<br>
<br>
If you’ve done all of this and you still have not received your refund yet,
please contact us,we will check it for you again.</p>
<br>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
