<div id="aboutus" v-cloak>

  <div class="gradient d-none d-xl-block d-lg-block">
    <div class="jumbotron jumbotron-fluid">
      <div class="container  headingbox">
        <!-- <a class="storebtn" href="/shop" role="button">About us</a> -->
      </div>
    </div>
  </div>

  <div class="container story mt-5 mb-5">
    <div class="row">
      <div class="col-lg-6 col-md-12 storySecOne">
        <!-- <div class="container storySecOne"> -->
          <img src="\images\pexels-francesco-ungaro-1671325.jpg" alt="..." class="storySect mt-3">
        <!-- </div> -->
      </div>

      <div class="col lg-6 md-12 storySecTwo">
        <!-- <div class="container storySecTwo"> -->
          <h1 class="mt-1 wow bounceInRight">Our Story</h1>
          <br>
          <p class="sectionStory wow bounceInRight">Lanka Smart switch (Pvt) Ltd provide branded electrical appliances for anyone interested in using high quality smart Home devices to enjoy a whole house intelligent lifestyle and we saw the launch of Our company in
            Sri Lanka , with an ambition to become a leader in the home automation, home security and smart home sectors. We believe in the power of technology to keep us safe – but we also believe in simplicity. The products we build are meant to
            live and grow with us, to protect us but also give us comfort. We believe in evolving the concept of home security and creating a new kind of security system. A system that lets you choose how you want it to look, what devices you want to
            add to it, and how you want it to fit into your day to day life. <br><br> There's home automation and entertainment like wise there's the best in those factors.each of our connected home installations is as unique as the client.we will
            work with you to achieve your vision ,your way to the highest technical standards.And as well as transforming homes to the new intelligent automated smart homes through our Lanka Smart switch (Pvt) Ltd Company <br><br> We give you advice
            and information very clearly, And we can work closely with architects, consultants and interior designers to deliver what’s right for your project. We invest time and effort to make sure we offer the very latest technologies. And while we
            only work with the highest quality suppliers, we’re totally independent. </p>
        </div>
      <!-- </div> -->

    </div>
  </div>

  <div class="container-fluid sectionbanner">
    <div class="container mockup">
      <div class="row">
        <div class="col-lg-5 md-12 wow fadeInUp">
          <img src="\images\iphone-mockup.png" class="banimg" alt="...">
          <!-- <video autoplay muted loop >
            <source src="/Videos/Gif_1.mp4" data-src="/Videos/Gif_1.mp4" type="video/mp4">
          </video> -->
          <!-- <iframe src="/Videos/Gif_1.mp4" width="" height=""></iframe> -->
        </div>
        <div class="col-lg-7 md-12">
          <div class="container wow bounceInRight">
            <img src="/images/Tuya_Company_logo.png" class="tuyaIcon" alt="...">
            <h2 class="text-center">Make your appliances easy with Tuya</h2> <br>
            <p class="sect">Tuya Smart is a leading global IoT development platform with a unique, all-in-one offering of cloud + connectivity + app that makes it easy and affordable for brands, retailers, and OEMs to make their products
              smart.
              Tuya's platform has smart-enabled more than 310,000 product SKUs in hundreds of categories worldwide, serving over 324,000 developers globally. Tuya is internationally operated with headquarters in the U.S., Germany, India, Japan,
              Colombia, and China.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row vision mt-5">
      <!-- <div class="col-4">
      </div> -->
      <div class="col-lg-6 md-12 d-none d-lg-block">
        <div class="row">
          <div class="col-10">
            <div class="visi mt-5 wow fadeInUp">
              <img src="/images/telescope 1.png" alt="" class="telescope">
            </div>
          </div>
          <!-- <div class="col-2"> -->
          <!-- <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-6 md-12 wow bounceInRight">
        <h1 class="vison Header">Vision</h1> <br>
        <!-- <hr> -->
        <div class="horixontal">
          <p class="visonDescription">To provide high quality smart automation solutions across all feilds from household to commercial buildings, hotels and corporate offices and provide you with the ease and comfort of your dreams.</p>

        </div>
      </div>
    </div>

    <div class="row vision mt-5">
      <!-- <div class="col-4">
      </div> -->
      <div class="col-lg-6 md-12 wow bounceInLeft">
        <h1 class="vison Header two">Mision</h1> <br>
        <!-- <hr> -->
        <div class="horixontal">
          <p class="visonDescription">To be your most trusted smart automation solution provider and elevate the quality of your lives.</p>

        </div>

      </div>
      <div class="col-lg-6 md-12 d-none d-lg-block">
        <div class="row">
          <!-- <div class="col-2"> -->
          <!-- <img src="\images\arrow2.png" class="rounded" alt="..."> -->
          <!-- <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> -->
          <!-- </div> -->

          <div class="col-8 wow fadeInUp">
            <div class="visi mt-4">
              <img src="/images/target 1.png" alt="" class="telescope aim">
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row vision mb-5 mt-5 wow fadeInUp">
      <!-- <div class="col-4">
      </div> -->
      <div class="col-lg-6 md-12 d-none d-lg-block">
        <div class="row">
          <div class="col-10">
            <div class="visi mt-5">
              <img src="/images/trophy 1.png" alt="" class="telescope">
            </div>
          </div>
          <!-- <div class="col-2"> -->
          <!-- <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-6 md-12 wow bounceInRight">
        <h1 class="vison Header mt-2">Goal</h1> <br>
        <!-- <hr> -->
        <div class="horixontal">
          <p class="visonDescription">Lanka Smart switch pvt ltd is already the premier Automation solution provider in the country with a solid track record. We are determined to enrich more lives all across the country with the convenience of
            Automation by being the proud brand behind highest number of automation projects completed within the country.</p>

        </div>
      </div>
    </div>

  </div>



</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
