<div id="homepage" v-cloak>
  <div class="jumbotron jumbotron-fluid">

    <video autoplay muted loop>
      <source src="\images\Home Video.2mp4_1.mp4" type="video/mp4">
    </video>

    <!-- <iframe src="/Videos/Homevideo.mp4" width="" height=""></iframe> -->

    <div class="container  headingbox">

      <h1 class=" fontv1 m-0 wow bounceInLeft">Welcome to</h1>
      <h1 class=" fontv2 mb-4 wow bounceInLeft">Lanka Smart Switch</h1>

      <div class="wow bounceInLeft">
        <a class="storebtn " href="/shop" role="button">View Store<svg height="20" id="svg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(0deg); fill: rgba(255, 255, 255, 1);"
            data-darkreader-inline-fill="">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
            </path>
          </svg></a>
      </div>


    </div>
    <!-- /.container -->
  </div>

  <!-- /.jumbotron -->

  <div class="container-fluid mt-5" align="center">
    <div class="row">
      <div class="col title-two">
        <h3 class=" fontv3 wow fadeInUp mt-5">FEATURED COLLECTIONS</h3>
      </div>
    </div>
    <!-- <div class="row pl-5 pr-5 mt-5">
 <div class="col hidecolmens">
 </div>
 <div class="col lg-2 md-4">
<img src="images\logo_7_4baa2296-e9a3-4be8-ad78-c68e827a5c92_140x.jpg" class="blogo" alt="">
 </div>
 <div class="col hidecolmens">
 </div>
 </div> -->
  </div>

  <div class="container-fluid mt-5 pt-5">
    <div class="row bluebgclr " align="center">
      <div class="col-lg-3 md-6 sm-12 mb-4  switchcard wow fadeInUp">
        <img src="images\image 7.png" class="img-fluid" alt="">
        <h3 class="sub mt-4 mb-4">1 Gang Smart Switch</h3>
        <!-- <a class="mb-4 mt-4 pricebtn" href="/shop" role="button">Rs 3,800.00</a> -->
        <a href="/shop">
          <h6 class="sub mt-4 mb-5">More Details</h6>
        </a>
      </div>
      <div class="col-lg-3 md-6 sm-12 mb-4  switchcard wow fadeInUp">
        <img src="images\image 8.png" class="img-fluid" alt="">
        <h3 class="sub mt-4 mb-4">Smart Wifi Fan / Light Switch</h3>
        <!-- <a class="mb-4 mt-4 pricebtn" href="/shop" role="button">Rs 5,500.00</a> -->
        <a href="/shop">
          <h6 class="sub mt-4 mb-5">More Details</h6>
        </a>
      </div>
      <div class="col-lg-3 md-6 sm-12 mb-4  switchcard wow fadeInUp">
        <img src="images\image 9.png" class="img-fluid" alt="">
        <h3 class="sub mt-4 mb-4">Smart Wifi Wall Socket 13A</h3>
        <!-- <a class="mb-4 mt-4 pricebtn" href="/shop" role="button">Rs 4,500.00</a> -->
        <a href="/shop">
          <h6 class="sub mt-4 mb-5">More Details</h6>
        </a>
      </div>
      <div class="col-lg-3 md-6 sm-12 mb-4  switchcard wow fadeInUp">
        <img src="images\image 10.png" class="img-fluid" alt="">
        <h3 class="sub mt-4 mb-4">Smart Wifi Door Lock</h3>
        <!-- <a class="mb-4 mt-4 pricebtn" href="/shop" role="button">Rs 30,000.00</a> -->
        <a href="/shop">
          <h6 class="sub mt-4 mb-5">More Details</h6>
        </a>
      </div>

    </div>
    <div class="row titlbgblue">

      <div class="col title-two">

        <h3 class=" fontv3 wow fadeIn">TRUSTED BY CLIENTS EVERYWHERE</h3>

      </div>
    </div>
  </div>










  <!--section 1.-->

  <div class="container-fluid " align="left">

    <div class="row ">
      <div class="col-lg-6 md-12 m-auto p-0">
        <img src="images\home3.jpg " class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 md-12 m-auto p-0">


        <div class="row itembox pd  ">

          <div class="col-lg-12 pl-5">
            <h3 class="gifts1 wow bounceInRight">Lanka Smart Switch</h3>
            <h1 class="gifts2 wow bounceInRight">Our solutions</h1>


            <div class="container pl-0">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-head" id="headingOne">
                    <h4 class="mb-0 collapsed wow fadeInUp" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Home automation
                    </h4>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Home automation solution can benefit in many ways .Smart home technologies can naturally merge into our daily life. that connects your lights, curtains, fan switches ,smart Bulbs ,dimmers ,air conditioners and other devices
                      into a single system, and allows you to take all control of those devices from anywhere at anytime through your very own smart phone, tablet, or wall panel .You can set pre scheduled operations to the lights automatically to
                      turn on/off ,Voice control commands using Alexa/google assistance ,remote access and many more .A home graced with an everlasting elegance to live your dream life .our smart switch covers it all for a grand experience smarter
                      than any! </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingTwo">
                    <h4 class="mb-0 collapsed wow fadeInUp" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Office automation
                    </h4>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Office automation solution for commercial offices can benefit in many ways .For example, a single person can control all the smart electrical fittings through the main PC or using smart phone , and also can automatically turn
                      off lights, air-conditioners and other devices in an empty room to save energy. That would also improve the management efficiency of the office staff .The system can keep the brightness at a constant range by automatically
                      controlling lights and curtains. The occupants can focus on their work without being distracted while using the least electricity for lighting. You can avoid unnecessary waste because of careless work. So you will save
                      electricity bill without heavy price tag at all. </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingThree">
                    <h4 class="mb-0 collapsed wow fadeInUp" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Hotel automation
                    </h4>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Hotel automation solution give hoteliers full control over hotel operations while automating and optimizing processes to reduce costs and increase guest satisfaction. If You’re looking to maximize operational efficiency with
                      limited hotel staff while providing the same quality of service to guests. Our automation solution will allow you to achieve these goals, plus offer a range of other benefits like Guest access automation for contactless
                      check-ins/check-outs without front desk staff , Smart app control of lights, TV, fans, blinds, A/C, heating, and all in single system, empowering guest personalization while keeping energy costs low , Real-time digital service
                      requests (housekeeping, do not disturb, laundry, and maintenance) with automated notifications so relevant staff are instantly notified. Ideally, hotel automation system integrate with your PMS to connect all operations
                      (owners, guests, maintenance, customer service, housekeepers, etc.) in one place .Our smart hotel automation covers it all for a grand experience smarter than any. </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingThree">
                    <h4 class="mb-0 collapsed wow fadeInUp" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Buildings automation
                    </h4>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                      A commercial building automation solution is an automation solution designed for commercial buildings basing on smart control systems. The objectives of building automation are improved occupant comfort, efficient operation of
                      building systems, reduction in energy consumption, reduced operating and maintaining costs, increased security, historical performance documentation, remote access ,Smart phone operations .It allows you to take control and
                      manage lighting, shading, HVAC, security system or more features in the building using one computer or a smart phone .Simply you can turn on/off entire lighting system of a very large building just from a finger tap of your
                      smart phone or a main computer . </div>
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="row firstpart">
    <div class="col-lg-6 md-12 m-auto p-0">
      <div class="row itembox pd">

        <div class="col-lg-12 wow bounceInLeft">
          <h3 class="gifts1">CONTROL YOUR HOME FROM</h3>
          <h1 class="gifts2">Any Location at <br> Any Time </h1>
          <p class="gifts3 mb-4">Thank to the Automation system, all the devices are connected and just a finger tip is enough to take all control of your home from anywhere at anytime through your very own smart phone!</p>
          <a class="outlinebtn" href="/aboutus" role="button">Why Lanka Smart</a>
        </div>

      </div>
    </div>


    <div class="col-lg-6 md-12 m-auto p-0">
      <img src="images\second box.jpg " class="img-fluid" alt="">
    </div>
  </div>

  <div class="row secondpart">

    <div class="col-lg-6 md-12 m-auto p-0">
      <img src="images\second box.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 md-12 m-auto p-0">
      <div class="row itembox pd">

        <div class="col-lg-12">
          <h3 class="gifts1">CONTROL YOUR HOME FROM</h3>
          <h1 class="gifts2">Any Location at <br>Any Time </h1>
          <p class="gifts3 mb-4">Thank to the Automation system, all the devices are connected and just a finger tip is enough to take all control of your home from anywhere at anytime through your very own smart phone!</p>
          <a class="outlinebtn" href="/shop" role="button">Why Lanka Smart</a>
        </div>

      </div>
    </div>



  </div>



  <div class="contain-fluid mt-5 mb-5 pl-4 pr-4">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
        <div class="card  text-white imgtest carditembox alexavoicebox">
          <img class="card-img " src="/images/Box image 1.jpg" alt="Card image">
          <div class="card-img-overlay" style="top:auto !important;">
            <h3 class="sub3">A Home graced with an everlasting elegance</h3>
            <p class="sub mb-4">To be the proud owner of a fully automated smart home to live your dream life</p>


          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
        <div class="card  text-white imgtest carditembox alexavoicebox
     ">
          <img class="card-img " src="/images/Box image 3.jpg" alt="Card image">
          <div class="card-img-overlay" style="top:auto !important;">
            <h3 class="sub3">Whole House with super smart control</h3>
            <p class="sub mb-4">Wheather to draw curtains in need, dim your lights to complement a mellow entirew, or to entirew shut down everything before a quick departure or to set them on time and even to fix pre sheduled operations, our smart
              switch covers it all for a grand experience smater</p>


          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
        <div class="card  text-white imgtest carditembox alexavoicebox
     ">
          <img class="card-img " src="/images/Box image 4.jpg" alt="Card image">
          <div class="card-img-overlay" style="top:auto !important;">

            <h3 class="sub3">The best value & best price</h3>
            <p class="sub mb-4">A single visit from a techinian is enough to install the entire or can be easily installed by anyone without the help</p>


          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="container-fluid productsec mt-4 pr-0 productdesktopsec" >
 <div class="row m-0">
   <div class="col-lg-6 md-12"  >
     <div class="row m-0" style="background-color:#7b89a2;">
       <div class="col m-auto pl-4">
           <h3 class="head1">Safety &<br>Smart</h3>
           <p class="sub mb-4">24*7 Explore a wide range of Smart security & surveillance pro ducts.</p>
           <a class="underlinebtn" href="/shop" role="button">View Products</a>
       </div>
       <div class="col" align="right">
           <img src="images\image 22.png" class="img-fluid"  alt="">
       </div>
     </div>
   </div>

   <div class="col-lg-6 md-12" >
     <div class="row m-0" style="background-color:#f8f8f8;">
       <div class="col m-auto pl-4" >
           <h3 class="head2">Switch &<br>Control</h3>
           <p class="sub2 mb-4">Explore Glass panel touch switches, Modular Switches & many more.</p>
           <a class="underlinebtn2" href="/shop" role="button">View Products</a>
       </div>
       <div class="col" align="right">
           <img src="images\image 25.png" class="img-fluid"  alt="">
       </div>
     </div>
   </div>

 </div>


 <div class="row m-0">
   <div class="col-lg-6 md-12" >
     <div class="row m-0 whitebg" >
       <div class="col m-auto pl-4">
           <h3 class="head2">Smart <br>Sensors</h3>
           <p class="sub2 mb-4">Explore Smart Sensors like door sensor, water leak, microwave sensor, smoke sensor and etc.</p>
           <a class="underlinebtn2" href="/shop" role="button">View Products</a>
       </div>
       <div class="col" align="right">
           <img src="images\image 24.png" class="img-fluid"  alt="">
       </div>
     </div>
   </div>

   <div class="col-lg-6 md-12" >
     <div class="row m-0 bluebg" >
       <div class="col m-auto pl-4">
           <h3 class="head1">Smart <br>Curtain</h3>
           <p class="sub mb-4">Explore Smart Curtain like door and window sensor etc.</p>
           <a class="underlinebtn" href="#" role="button">View Products</a>
       </div>
       <div class="col" align="right">
           <img src="images\image 23.png" class="img-fluid"  alt="">
       </div>
     </div>
   </div>

 </div>

</div> -->


  <!-- <div class="container-fluid productsec mt-4 pr-0 productmobilesec">
    <div class="row m-0">
      <div class="col-lg-6 md-12">
        <div class="row m-0" style="background-color:#7b89a2;">
          <div class="col-sm-12" align="right">
            <img src="images\image 22.png" class="img-fluid" alt="">
          </div>

          <div class="col-sm-12 m-auto pl-4 pb-4">
            <h3 class="head1">Safety &<br>Smart</h3>
            <p class="sub mb-4">24*7 Explore a wide range of Smart security & surveillance pro ducts.</p>
            <a class="underlinebtn" href="#" role="button">View Products</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 md-12">
        <div class="row m-0" style="background-color:#f8f8f8;">
          <div class="col-sm-12" align="right">
            <img src="images\image 25.png" class="img-fluid" alt="">
          </div>
          <div class="col-sm-12 m-auto pl-4  pb-4">
            <h3 class="head2">Switch &<br>Control</h3>
            <p class="sub2 mb-4">Explore Glass panel touch switches, Modular Switches & many more.</p>
            <a class="underlinebtn2" href="#" role="button">View Products</a>
          </div>

        </div>
      </div>

    </div>


    <div class="row m-0">
      <div class="col-lg-6 md-12">
        <div class="row m-0 whitebg">
          <div class="col-sm-12" align="right">
            <img src="images\image 24.png" class="img-fluid" alt="">
          </div>
          <div class="col-sm-12 m-auto pl-4  pb-4">
            <h3 class="head2">Smart <br>Sensors</h3>
            <p class="sub2 mb-4">Explore Smart Sensors like door sensor, water leak, microwave sensor, smoke sensor and etc.</p>
            <a class="underlinebtn2" href="#" role="button">View Products</a>
          </div>

        </div>
      </div>

      <div class="col-lg-6 md-12">
        <div class="row m-0 bluebg">
          <div class="col-sm-12" align="right">
            <img src="images\image 23.png" class="img-fluid" alt="">
          </div>
          <div class="col-sm-12 m-auto pl-4  pb-4">
            <h3 class="head1">Smart <br>Curtain</h3>
            <p class="sub mb-4">Explore Smart Curtain like door and window sensor etc.</p>
            <a class="underlinebtn" href="#" role="button">View Products</a>
          </div>

        </div>
      </div>

    </div>

  </div> -->





  <div class="container-fluid pr-0">
    <div class="row alexavoicebox pt-5">
      <div class="col-lg-6 md-12" align="center">
        <img src="images\image 15.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 md-12 m-auto pl-5">

        <div class="row alexaright">

          <div class="col-lg-12">
            <img class="wow fadeIn" src="images\image 16.png" class="img-fluid" alt="">
            <h3 class="head1 wow bounceInRight">YOUR VOICE WILL ACT AS A COMMAND</h3>
            <h1 class="head2 wow bounceInRight">Smart home integrated with Amazon Alexa and Google Assistant </h1>


            <p class="sub mb-5 pb-5 wow bounceInRight">Not only you can manage all those smart home devices using your smart phone or being by physically touching ,but also you can control using your voice .just command them what you need to do by using your voice.A
              product is deemed "smart"when it is capable of managing with the latest IOT technology</p>

          </div>
        </div>
      </div>


    </div>
  </div>
  <section class="2">

    <section class="parallax-2 d-none d-xl-block">
      <div class="parallax-inner">
      </div>
    </section>

    <div class="parallax-image d-xl-none">
      <img src="/images/4871069.jpeg" alt="" class="w-100">
    </div>

  </section>

  <div class="container-fluid">
    <div class="row mobilemockupbg alexavoicebox pt-5">
      <div class="col-lg-6 col-md-12 m-auto pl-5">


        <div class="row textbox wow bounceInLeft">

          <div class="col-lg-12 md-12">
            <h3 class="head1">YOUR APPLIANCES, YOUR SCHEDULE</h3>
            <h1 class="head2">Customize your Home Automation</h1>
            <p class="sub mb-4">No more worry to wake up in the midnight to switch on/off the lights, you can pre shedule your smart switches to switch on/off automatically so easily.</p>
            <h3 class="sub3">Out door lights</h3>
            <h4 class="sub3 mt-3">Set automatically on > 11pm</h4>
            <h4 class="sub3">Set automatically off > 6am</h4>
          </div>

        </div>
      </div>

      <div class="col-lg-6 col-md-12" align="center">
        <img src="images\custom 1.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <div class="container-fluid pr-0">
    <div class="row alexavoicebox pt-5 pb-5" style="background-color:#C30001;" align="center">
      <div class="col-lg-2 col-sm-6 wow bounceInUp">
        <img src="images\image 27.png" class="img-fluid pb-2" alt="">
        <h5 class="sub mb-4">Wireless</h5>
      </div>
      <div class="col-lg-2 col-sm-6 wow bounceInUp">
        <img src="images\image 21.png" class="img-fluid pb-2" alt="">
        <h5 class="sub mb-4">Schedule Power ON/OFF</h5>
      </div>
      <div class="col-lg-2 col-sm-6 wow bounceInUp">
        <img src="images\image 19.png" class="img-fluid pb-2" alt="">
        <h5 class="sub mb-4">Voice Assistance</h5>
      </div>
      <div class="col-lg-2 col-sm-6 wow bounceInUp">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 172 172" style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
            text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#e0e0e0">
              <path
                d="M48.16,37.84c-26.5525,0 -48.16,21.6075 -48.16,48.16c0,26.5525 21.6075,48.16 48.16,48.16h75.68c26.5525,0 48.16,-21.6075 48.16,-48.16c0,-26.5525 -21.6075,-48.16 -48.16,-48.16zM48.16,44.72c22.84375,0 41.28,18.43625 41.28,41.28c0,22.84375 -18.43625,41.28 -41.28,41.28c-22.84375,0 -41.28,-18.43625 -41.28,-41.28c0,-22.84375 18.43625,-41.28 41.28,-41.28zM72.7775,44.72h51.0625c22.84375,0 41.28,18.43625 41.28,41.28c0,22.84375 -18.43625,41.28 -41.28,41.28h-51.0625c14.05563,-8.42531 23.5425,-23.74406 23.5425,-41.28c0,-17.53594 -9.48687,-32.85469 -23.5425,-41.28z">
              </path>
            </g>
          </g>
        </svg>
        <h5 class="sub mb-4">Multi control</h5>
      </div>
      <div class="col-lg-2 col-sm-6 wow bounceInUp">
        <img src="images\image 18.png" class="img-fluid pb-2" alt="">
        <h5 class="sub mb-4">Add-on Security</h5>
      </div>
      <div class="col-lg-2 col-sm-6 wow bounceInUp">
        <img src="images\image 20.png" class="img-fluid pb-2" alt="">
        <h5 class="sub mb-4">Energy Efficient</h5>
      </div>
    </div>

  </div>



  <section class="testimonial text-center">
    <div class="container">

      <div class="heading white-heading wow bounceInUp">
        What people are saying about Lanka Smart
      </div>
      <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

        <div class="carousel-inner wow bounceInUp" role="listbox">
          <div class="carousel-item active">
            <div class="testimonial4_slide">
              <p>The only place to buy your smart home automation devices in colombo..clearly discussed according to the customer requirement, shares thoughts and speedy follow up on inquiries too. Good job, go for the next time too. </p>
              <h4></h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">
              <p>Best after sales service for the products.Safest and most reliable quality smart wifi home electronic products you can get in SL</p>
              <h4></h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">

              <p>I bought over 20 smart wifi wall switches from them. They gave a more than expected service life.Happy about the goods and service..i have fully automated my home for a reasonable price...</p>
              <h4></h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">

              <p>Best home automation company in sri lanka and thank you Mr.Nadun for the clear guidance along with the company after sales service...</p>
              <h4></h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">

              <p>I am exited my home is now can control from my mobile phone...all the stuffs are connected to my mobile and thats so wonderful..best place for home automation!!</p>
              <h4></h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">

              <p>They offer the best prices for smart wifi home devices..i have checked everywhere but wifi switches are only available in this place only..</p>
              <h4></h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
          <img src="images\testmonialicon2.png" class="img-fluid" alt="">
        </a>
        <a class="carousel-control-next" href="#testimonial4" data-slide="next">
          <img src="images\testmonialicon.png" class="img-fluid" alt="">
        </a>
      </div>
    </div>
  </section>



  <div class="container-fluid pl-0 productsec">
    <div class="row ">
      <div class="col-lg-6 md-12 sm-12 contactbox1 ">

        <div class="row">
          <div class="col">

          </div>
          <div class="col-lg-8 contactboxmod wow bounceInLeft">
            <h3 class="head1">Looking for support?</h3>
            <h6 class="sub mb-5 mt-4">No problem is too tough for our support super heroes!</h6>
            <a class="buttonbg" href="/contact" role="button">Get Support</a>
          </div>
          <div class="col">
          </div>
        </div>

      </div>
      <div class="col-lg-6 md-12 sm-12 contactbox2 ">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-lg-8 contactboxmod wow bounceInRight">
            <h3 class="head2">Want to get in touch?</h3>
            <h6 class="sub2 mb-5 mt-4">Have questions or want to hear more about Lanka Smart Lighting? Get in touch with us!</h6>
            <a class="buttonbg2" href="/contact" role="button">Talk with An Expert</a>
          </div>
          <div class="col">
          </div>
        </div>
      </div>

    </div>

  </div>



</div>
